# Choose a build environment
dist: xenial

# Do not choose a language; we provide our own build tools.
language: generic

# Caching so the next build will be fast too.
cache:
  directories:
  - $HOME/.stack

# Ensure necessary system libraries are present
addons:
  apt:
    packages:
      - libgmp-dev
      - tor  # Tor for tests

before_install:
# Download and unpack the stack executable
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://get.haskellstack.org/stable/linux-x86_64.tar.gz | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
# Tor for tests
- echo -e "ControlPort 9051\nCookieAuthentication 1\nExtORPortCookieAuthFileGroupReadable 1"| sudo tee /etc/tor/torrc
- sudo systemctl restart tor
# Wait until Tor control port is open
- nc -zvv localhost 9051; out=$?; while [[ $out -ne 0 ]]; do echo "Retry hit port 9051..."; nc -zvv localhost 9051; out=$?; sleep 1; done
- sudo gpasswd -a $USER debian-tor


install:
# Build dependencies
- stack --no-terminal --install-ghc test --only-dependencies

script:
# Build the package, its tests, and its docs and run the tests
- sudo -E su $USER -c 'stack --no-terminal test --haddock --no-haddock-deps'
